* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #000000;
  color: white;
  text-align: center;
}
::-webkit-scrollbar {
  display: none;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}


@media(min-width: 600px) {
  .container {
    margin: 0 auto;
  }
}


.container-top-home {
  margin-top: 80px;
  display: flex;
  align-items: flex-end;
}

.logo-home {
  width: 100%;
}

/* ############################### */
.container-logo-animacion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50%;
  display: block;
  margin: 0 auto;
}

@media(min-width: 600px) {
  .logo {
    width: 25%;
  }
}

.animacion {
  width: 50%;
  animation-duration: 2s;
  animation-name: agrandar;
}

@keyframes agrandar {
  from {
    width: 100%;
  }
  to {
    width: 50%;
    opacity: 10%;
  }
}

/* ############################################## */
.container-home {
  background-image: url("./img/fondoHome.png");
}

@media(min-width: 600px) {
  .container-home {
    background-size: contain;
  }
  .logo-home{
    width: 50%;
    display: block;
    margin: 0 auto;
  }
}
.container-top-home {
  height: 50%;
}
.container-bottom-home {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-home {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.form-home input,
.form-home button {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px #edab37;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.form-home button {
  background-color: #edab37;
  width: 110%;
}

#label {
  color: #edab37;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
}

/* ########################################## */

/* ############################################ */
.container-sobre-mi {
  background-image: url("./img/pipanewl.png");
  background-position-x: 65px;
}

.container-top-sobre-mi {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 90%;
  overflow: auto;
}


.contenido-sobre-mi,
.disco1 {
  width: 70%;
  height: 450px;
  font-size: 14px;
  font-weight: 100;
  text-align: left;
  line-height: 2;
  margin-left: 18px;
}

.contenido-sobre-mi p {
  height: 60%;
}

.pipa {
  display: none;
}

@media(min-width: 600px) {
  .container-sobre-mi {
    background-size: auto;
    background-position-x: 100%;
  }
  .contenido-sobre-mi{
    display: block;
    width: 60%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 100;
    text-align: justify;
    line-height: 2.5;
  }

}
/* ############################################ */
.container-servicios {
  background-image: url("./img/trumpet.png");
  background-size: contain;
  background-position-x: 70px;
  width: 100%;

}
.container-top-servicios {
  height: 60%;
}
.superior {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  margin-top: 10px;
}
.container-lista-servicios {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 100;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.servicios {
  width: 70%;
  text-align: left;
  margin-left: 18px;
}

.servicios h2 {
  font-size: 1rem;
  font-weight: 300;
  color: #edab37;
  margin: 10px 0;
}

.servicios p {
  line-height: 2;
}

.btn {
  display: block;
  padding: 5px;
  margin: 15px 0 15px 0;
  background-color: #edab37;
  color: rgb(14, 14, 14);
  width: 25%;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ebbb69;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.686);
}

@media(min-width: 600px) {
  .container-servicios {
    background-size: cover;
    background-position-x: 70px;

  }

  .servicios {
    margin: auto;
    font-size: 16px;
  }

  .btn {
    display: block;
    padding: 6px;
    margin: 10px 0 10px 0;
    width: 15%;
    font-size: 16px;
}
}

/* ############################################## */

.redes-sociales {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 70%;
}

.redes-sociales i{
  cursor: pointer;
}

@media(min-width: 600px) {
  .redes-sociales {
    justify-content: flex-start;
  }

}

/* ######################################## */

.navegacion {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  padding-top: 15px;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #edab37;
}

a p{
  font-size: 8px;
  text-transform: uppercase;
}
.iconos {
  color: #edab37;
  font-size: 30px;
  padding: 5px;
}
.trompeta-icon {
  width: 36px;
  margin-bottom: 4px;
}

@media(min-width: 600px) {
  .navegacion {
   width: 70%;
   margin: 0 auto 35px auto;
  }
  .iconos {
    font-size: 35px;
  }
  .trompeta-icon {
    width: 40px;
  }
  a p{
    font-size: 12px;
  }
}
/* ########################################### */

.container-top-discografia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.musica-spotify {
  display: flex;
  width: 100%;
  align-items: center;
}


.disco1 {
  width: 300px;
  margin-right: 15px;
  margin-left: 10px;
  text-align: center;
}

.disco1 p {
  margin-top: 30px;
}

.musica-spotify iframe {
  height: 400px;
  width: 320px;
  margin-right: 20px;
  box-shadow: 2px 2px 2px 2px #000000;
}

@media(min-width: 600px) {
  .musica-spotify {
    justify-content: center
  }
  .musica-spotify iframe {
    height: 100%;
    width: 100%;
  }
}



/* ########################## */
.container-educacion{
  background-image: url('./img/textura.png');
  background-size: cover;
  background-position-x: 1px;
}

.container-top-educacion {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container-documento-pdf {
  height: 50%;
  overflow: auto;
}

.contenido-documento-pdf p{
  cursor: pointer;
}

.logo-documento-pdf{
  margin-right: 5px;
}

.documento-pdf {
  display: flex;
  align-items: center;
  margin: 25px 10px;
  
}

.documento-pdf h2 {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}
.documento-pdf p {
  font-size: 14px;
  font-weight: 100;
  text-align: left;
  color: #edab37;
}

.videos-educacion {
  display: flex;
  height: 50%;
  align-items: center;
  margin: 10px 0 10px 18px;
  overflow: auto;
}

.videos-educacion iframe {
height: 180px;
margin-right: 20px;
}

@media(min-width: 600px) {
  .container-top-educacion{
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .container-documento-pdf{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .documento-pdf p, .documento-pdf h2 {
    font-size: 18px;
  }

  .videos-educacion {
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  
  .videos-educacion iframe {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }
}

/* ############################## */
.base{
  display: flex;
  flex-direction: column;
}
.copy{
  font-weight: 100;
  font-size: 12px;
  margin: 0;
  margin-bottom: 10px;
  color: white;
  animation-duration: 1.5s;
  animation-name: grande;
}

.copy:hover{
  color: #edab37;
}

@media(min-width: 600px) {
  .copy a{
    text-align: right;
  }
}


@keyframes grande {
  from {
   color: #edab37;
  }
  to {
    color: #000000;
  }
}

/* iconos pointer */
