* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #000000;
  color: white;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

/* ############################### */
.container-logo-animacion {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 50%;
}

.animacion {
  width: 50%;
  animation-duration: 4s;
  animation-name: agrandar;
}

@keyframes agrandar {
  from {
    width: 100%;
  }
  to {
    width: 50%;
    opacity: 10%;
  }
}

/* ############################################## */
.container-home {
  background-image: url("./img/fondoHome.png");
  animation-duration: 3000ms;
  animation-name: principal;
}

@keyframes principal {
  from {
    opacity: 20%;
  }
  to {
    opacity: 100%;
  }
}

.container-top-home {
  height: 50%;
}
.container-bottom-home {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-home {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.form-home input,
.form-home button {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px #edab37;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.form-home button {
  background-color: #edab37;
  width: 110%;
}

#label {
  color: #edab37;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
}

/* ########################################## */
.container-educacion {
  background-color: black;
}

/* ############################################ */
.container-sobre-mi {
  background-image: url("./img/pipanewl.png");
  background-position-x: 65px;
}

.container-top-sobre-mi {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 90%;
  overflow: auto;
}

.container-bottom-sobre-mi {
  height: 10%;
  display: flex;
  justify-content: flex-end;
}
.contenido-sobre-mi, .disco1 {
  width: 70%;
  height: 450px;
  font-size: 14px;
  font-weight: 100;
  text-align: left;
  line-height: 2;
  margin-left: 8px;
}

.contenido-sobre-mi p {
  height: 60%;
}

.pipa {
  display: none;
}

/* ############################################ */
.container-servicios {
  background-image: url("./img/trumpet.png");
  background-size: contain;
  background-position-x: 70px;
  width: 100%;
}
.superior {
  height: 10%;
}
.container-lista-servicios {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 100;
  height: 90%;
  width: 100%;
  overflow: auto;
}

.servicios {
  width: 70%;
  text-align: left;
  margin-left: 8px;
}

.servicios h2 {
  font-size: 1rem;
  font-weight: 300;
  color: #edab37;
  margin: 10px 0;
}

.servicios p {
  line-height: 2;
}

.btn {
  display: block;
  padding: 5px;
  margin: 15px 0 15px 0;
  background-color: #edab37;
  color: rgb(14, 14, 14);
  width: 20%;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
}

/* ############################################## */

.redes-sociales {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 70%;
}

.navegacion {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 35px;
}

.iconos {
  margin-right: 10px;
  color: #edab37;
  font-size: 30px;
  padding: 5px;
}
.trompeta-icon {
  width: 36px;
}

/* ########################################### */

.container-top-discografia {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.musica-spotify {
  display: flex;

  width: 100%;
}

.disco1{
  width: 300px;
  margin-right: 30px;
  margin-left: 8px;
  text-align: center;
}

.disco1 p{
  margin-top: 30px;

}

.musica-spotify iframe {
  height: 300px;
  width: 300px;
  margin-right: 20px;
  box-shadow: 2px 2px 2px 2px #000000;

}
