* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  /* background-color: #000000; */
  color: white;
  text-align: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

/* ############################### */
.container-logo-animacion{
display: flex;
justify-content: center;
align-items: center;
}
.logo{
  width: 50%;
}

.animacion{
  width: 50%;
  animation-duration: 4s;
  animation-name: agrandar;
}

@keyframes agrandar {
  from{
    width: 100%;
  }
  to {
    width: 50%;
    opacity: 10%;
  }
}


/* ############################################## */
.container-home {
  background-image: url("./img/fondoHome.png");
  animation-duration: 3000ms;
  animation-name: principal;
  }

@keyframes principal {
  from{
    opacity: 20%;
  }
  to{
   opacity: 100%;
  }
}


.container-top-home{
  height: 50%;
}
.container-bottom-home {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-home {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.form-home input,
.form-home button {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px #edab37;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.form-home button {
  background-color: #edab37;
  width: 110%;
}

#label {
  color: #edab37;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
}

/* ########################################## */
.container-educacion {
    background-color: black;
}







/* ############################################ */
.container-servicios {

}





/* ############################################ */
.container-sobre-mi {
  background-image: url('./img/pipanew.png');
  background-position-x: -50px;
  
}

.container-top-sobre-mi{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 70%;
}

.container-bottom-sobre-mi{
  height: 30%;
  display: flex;
  justify-content: flex-end;
}
.contenido-sobre-mi{
  width: 65%;
  height: 75%;
  font-size: 14px;
  font-weight: 100;
  text-align: right;
  line-height: 2;
  margin-right: 10px;
  overflow: auto;
}

.contenido-sobre-mi p{
  height: 60%;
}

.pipa {
display: none;
}


/* ############################################## */

.redes-sociales {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 50%;
}

.navegacion {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 35px;
}

.iconos {
  margin-right: 10px;
  color: #edab37;
  font-size: 30px;
  padding: 5px;
}
.trompeta-icon {
  width: 36px;
}


/* ########################################### */

.container-top-discografia{
display: flex;
flex-direction: column;
justify-content: space-evenly;
height: 100%;
}